body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
}

.container {
  width: 90%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #ff6a00;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: red;
  padding: 6px 10px;
  font-size: 14px;
}