body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #ff6a00;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 8px;
}